$primary: #006699;

h2 {
	color: $primary;
}
.item-list-li{
	padding-bottom: 20px;
}
.slick-arrow {
	display: none !important;
}
.full-width {
	width: 100%;
}

.wrapper-carousel{
	height: auto;
}
.image-item-carousel{
	width: 100%;
}
.wrapper-image{
	height: 120px !important;
}